.notification{
    z-index: 87;
    // top: 75px;
    // opacity: 1;
    top: -40px;
    opacity: 0;
    transition: 1s top, 0.35s opacity ease-in-out;

    @media (max-width: 486px) {
        left: 0;right:0;
        margin: 0 auto;
        
        align-content: center;
        justify-content: center;
    }
    background: #fdfdfd;
    box-shadow:  3.75px 3.75px 10px #eeeeee;
    position: absolute;
    width: 340px;
    padding: 10px;
    right: 33px;
    text-align: left;
    font-size: 1.6rem;
    border-radius: 10px;
    
    // vertical-align: middle;
    display: flex;
    align-items: center;
    
    .notification-image{
        padding: 0 5px 0 5px;
        // background-color: pink;
        svg{
            vertical-align: top;
        }
    }
    .notification-text{
        padding: 0 5px 0 5px;
        
        // background-color: cyan;
    }
    .close-button{
        // background-color: pink;
        margin-left: auto; 
        margin-right: 0;
        svg{
            vertical-align: middle;
        }
    }
}
.notification.active{
    transition: 0.35s top, 0.75s opacity ease-in-out;
    top: 75px;
    opacity: 1;
}